/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run dinoflow/dinoflow -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

cleanup = true

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    // TODO nf-core: Specify the paths to your full test data ( on nf-core/test-datasets or directly in repositories, e.g. SRA)
    // TODO nf-core: Give any required params for the test so that command line flags are not needed


    // Fasta references
    fasta = '/data/references/Human/GRCh38.primary_assembly.genome.fa'
    star_index = '/data/references/Human/Index'
    input = '/home/myeung/input.csv'
    starsolo_algorithm = 'CB_UMI_Simple'
    starsolo_barcode_len       = 25
    starsolo_umi_start          = 11
    starsolo_umi_len          = 10
    starsolo_cb_len             = 10
    starsolo_cb_start           = 1


}
